@mixin flex-column($align-items, $justify-content) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-row($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  align-content: $align-items;
  justify-content: $justify-content;
}
